<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
<body>
    <div id="container">
        <%- include('../partials/nav') %>
        <p class="titulo">Opciones</p>
        <div id="categoria_container">
            <div class="categoria">
                <a href="/categoria/remeras"><p>Remeras</p></a>
            </div>
            <div class="categoria">
                <a href="/categoria/pantalones"><p>Pantalones</p></a>
            </div>
            <div class="categoria">
                <a href="/categoria/zapatillas"><p>Zapatillas</p></a>
            </div>
        </div>
    </div>
    <script src="js/app.js"></script>
</body>
</html>