<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Cuenta</title>
    <style>
        h1, span {
            color: rgb(18, 136, 205);
        }
    </style>
</head>
<body>
    <h1>Te registraste en N.A.V</h1>
    <h2>¡Que tengas un lindo dia!</h2>
    <p><span>Usuario:</span> <%= usuario.name %></p>
    <p><span>Email:</span> <%= usuario.email %></p>
    <p><span>Password:</span> <%= usuario.password %></p>
</body>
</html>