<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
    <div id="container">
        <%- include('partials/nav') %>
        <h1>¡Conocé nuestra Tienda Online!</h1>
        <p>Elegí y recibí tus productos N.A.V sin moverte de tu casa</p>
    </div>
    <script src="js/app.js"></script>
</body>
</html>