<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
    <div id="container">
        <%- include('partials/nav') %>
        <p class="titulo">Somos N.A.V</p>
        <p>El hambre de gloria es lo que mueve a los grandes.
        Los que nos inspiraron a crear una marca que no entienda de límites y rompa estructuras.
        Bajo esta impronta nace N.A.V, desafiando a todos los que lo creían imposible.</p>
        <p>Con un espíritu joven y curioso y contra un universo donde nada es diferente, integramos
        innovación, tecnología y estilo para traer diseños con identidad única y en constante movimiento.
        El altísimo estándar de calidad y confort de nuestros productos los convierten cada día en los
        elegidos de atletas y deportistas a escala global.</p>
        <p>Bienvenido a un mundo donde no existen los limites.</p>
</body>
</html>