<nav>
    <div id="logo">
        <a href="/">
            <img src="/images/icons/logo.svg" alt="logo">
            <p>N.A.V</p>
        </a>
    </div>
    <div id="botones">
        <a href="/productos"><p>PRODUCTOS</p></a>
        <a href="/carrito">
            <div id="carrito">
                <p>CARRITO</p>
                <p id="carrito_contador">0</p>
            </div>
        </a>
        <a href="/nosotros">NOSOTROS</a>
    </div>
    <div id="usuario">
        <img src="<%= usuario.img %>" alt="imagen usuario">
        <div id="usuario_datos">
            <p id="usuario_nombre"><%= usuario.name %></p>
            <p id="usuario_email"><%= usuario.email %></p>
            <a href="#">Salir</a>
        </div>
    </div>
</nav>