<nav>
    <div id="logo">
        <a href="/">
            <img src="/images/icons/logo.svg" alt="logo">
            <p>N.A.V</p>
        </a>
    </div>
    <div id="botones">
        <a href="/productos"><p>PRODUCTOS</p></a>
        <% if(!(usuario == undefined)) { %>
            <a href="/carrito">
                <div id="carrito">
                    <p>CARRITO</p>
                </div>
            </a>
            <a href="/ordenes">MIS COMPRAS</a>
        <% } %>
        <a href="/nosotros">NOSOTROS</a>
    </div>
    <% if(usuario == undefined) { %>
        <div id="sign">
            <a href="/login">Login</a>
            <span>|</span>
            <a href="/signup">Registrate</a>
        </div>
    <% } else { %>
        <div id="usuario">
            <img src="<%= usuario.img %>">
            <div id="usuario_datos">
                <p id="usuario_nombre"><%= usuario.name %></p>
                <p id="usuario_email"><%= usuario.email %></p>
                <a href="/logout">Salir</a>
            </div>
        </div>
    <% } %>
</nav>