<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
<body>
    <div id="container">
        <h1>Admin</h1>
        <a href="/admin/productos/agregar">Agregar producto</a>
        <div id="cards-container">
            <%- include('../partials/admin/cards') %>
        </div>
    </div>
    <script src="/js/eliminar.js"></script>
</body>
</html>