@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

// Fuentes
$font: 'Quicksand', sans-serif;

// Colores
$black: #282828;
$white: #FCFEFC;
$grey: #c0c0c0;
$beige: #FCF9F3;
$primary: #f7e013;