<% if(errors){ %>
    <div class="alert error">
        <div>
            <% errors.forEach(e => { %>
                <p><%= e.text %></p>
            <% }) %>
        </div>
        <p id="cerrar">X</p>
    </div>
    <script>
        const cerrar = document.getElementById('cerrar')
        const alerta = document.getElementsByClassName('alert')
        cerrar.addEventListener('click', () => {
            alerta[0].style.display = 'none'
        })
    </script>
<% } %>