<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header')%>
<body>
    <div id="container">
        <%- include('../partials/nav') %>
        <div id="formulario">
            <h1>Crear cuenta</h1>
            <p>Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!</p>
            <form action="/signup" method="POST">
                <input type="text" name="name" placeholder="Nombre" autocomplete="off" autofocus>
                <input type="email" name="email" placeholder="Email" autocomplete="off">
                <input type="password" name="password" placeholder="Contraseña" autocomplete="off">
                <input type="password" name="confirm_password" placeholder="Confirmar Contraseña" autocomplete="off">
                <button>Registrarse</button>
            </form>
        </div>
    </div>
</body>
</html>