<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header')%>
<body>
    <div id="container">
        <%- include('../partials/nav') %>
        <div id="formulario">
            <h1>Crear cuenta</h1>
            <p>Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!</p>
            <div id="signup">
                <input id="name" type="text" name="name" placeholder="Nombre" autocomplete="off" autofocus>
                <input id="email" type="email" name="email" placeholder="Email" autocomplete="off">
                <input id="img" type="text" name="img" placeholder="URL Imagen png/jpg" autocomplete="off">
                <input id="password" type="password" name="password" placeholder="Contraseña" autocomplete="off">
                <input id="confirm_password" type="password" name="confirm_password" placeholder="Confirmar Contraseña" autocomplete="off">
                <button id="btn">Registrarse</button>
            </div>
        </div>
        <div id="erroresValidacion">
            <p id="nameError">El nombre no puede estar vacio.</p>
            <p id="mailError">El mail ya existe o no es valido.</p>
            <p id="passError">Las contraseñas no coinciden.</p>
            <p id="passVacia">La contraseña debe tener mas de 6 caracteres.</p>
        </div>
    </div>
    <script src="/js/validacion.js"></script>
</body>
</html>